// Specific CSS for your home-page

.banner {
  background-position: center;
  background-size: cover;
}

.star {
  color: $orange;
}

.home-text {
text-shadow: 1px 1px 5px rgba(000, 000, 000, 0.2);
}

.home-title {
  font-size: 42px;
}

.home-summary {
  font-size: 21px;
}



.alert, .alert a {
  color: $orange;
}

.alert a:hover {
  text-decoration: underline;
  color: $orange;
}
