.dental-care {
  background: $purple;
}

.tick-yellow {
  color: #F7B500;
}

.tick-purple {
  color: $purple;
}

.price-font {
  font-size: 18px;
}

.price-font-main {
  font-size: 22px;
}

.membership-description {
  margin-top: 80px;
}
