@media only screen and (min-width: 768px) {
    /* tablets and desktop */

  .staff-card {
    width: 100%;
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
  }

  .team-subtitle-text {
    width: 400px;
  }

  .card-image {
    width: 20%;
  }

  .staff-text {
    width: 75%;
  }

  .staff-all {
    padding: 0 5%;
  }

  .team-title {
    padding-top: 20px;
  }


}

@media only screen and (max-width: 767px) {
    /* phones */

  .staff-card {
    width: 100%;
    padding: 10px 0;
  }

  .card-image {
    width: 100%;
    padding-bottom: 20px;
  }

  .staff-text {
    width: 100%;
  }

  .staff-all {
    padding: 0 5%;
  }

  .team-title {
    padding-top: 20px;
  }

  .team-subtitle-text {
    width: 70%;
  }
}

  .team-image {
    width: 200px;
  }
.team-image {
  border-radius: 50%;
}

.team-title {
  display: flex;
  justify-content: center;
}

.team-subtitle {
  display: flex;
  justify-content: center;
}

.team-subtitle-text {
  border-bottom: 1px solid gray;
  text-align: center;
  padding-bottom: 30px;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
