<form action="https://formspree.io/xaypojja" method="POST" class='contact-form rounded'>
    <h4>Your Enquiry</h4>
    <div class="form-group">
        <label for="inputAddress"></label>
        <input type="email" class="form-control" id="inputAddress" placeholder="Email" name='email'>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4"></label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name='name'>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4"></label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Phone Number" name='Phone Number'>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress2"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="9" placeholder="Your Message" name='Message'></textarea>
    </div>
    <!-- your other form fields go here -->
    <button type="submit" class="btn btn-primary">Send Enquiry</button>
</form>
