<div class='container'>
    <div class="about-top text-center">
        <h1>About Us</h1>
    </div>
    <div class='about-bottom d-flex align-items-center mt-5'>
        <div class='mr-5'>
            <h2 class='my-3'>A Family Business</h2>
            <p>The practice is situated in Rushall and is in close proximity to the neighbouring areas of Shelfield, Walsall Wood, Alridge and Pelsall.<br><br>
                The practice is run by Dr Altaf Kotadia and his daughter and now business partner Dr Aleeya Kotadia.<br><br>
                <strong>We are committed to:</strong>
                ​
                <ul class='"list-unstyled"'>
                    <li>
                        Providing holistic dental care
                    </li>
                    <li>
                        Creating a calm and relaxing environment
                    </li>
                    <li>
                        Working as a team to make sure individual needs are met
                    </li>
                    <li>
                        Continued learning to make sure treatments provided are up to date and in line with current trends
                    </li>
                </ul>
                Feel free to contact our friendly team to book your consultation today. </p>
        </div>
        <div>
            <%= image_tag "family.jpg", width: '550px', class: 'rounded' %>
        </div>
    </div>
</div>
