
<div class="container">
    <div class="about-top text-center">
        <h1>About Us</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-md-12">
            <%= image_tag "family.jpg", width: '500px', class: 'rounded' %>
        </div>
        <div class="col-12 col-lg-6 .col-md-12">
            <h2 class='my-3'>A Family Practice</h2>
            <p>As a friendly family run practice, we really pride ourselves in our dedication to patient welfare and satisfaction. In 1992, Dr Altaf Kotadia purchased the practice and has since made it his goal to offer his patients the highest quality of care by tending to the smallest of details. In 2016, Dr Aleeya Kotadia, Altaf’s daughter, joined as a partner and has followed in his footsteps by working to create a warm and welcoming environment tailoring treatments to individual needs.</p>
            <p>We work together closely within the practice to ensure our patients have all the support and information they need, and really value the close relationships we form with those who have been seeing us for many years. It is a privilege to be able to treat patient families through the generations, and we believe that this continued support is testament to our commitment to patient happiness and wellbeing. </p>
        </div>
    </div>
</div>
