<div class="container">
    <div class="text-center mt-4">
        <h1>Contact Us</h1>
        <div class='subheading text-center'></div>
    </div>
    <div class='d-flex justify-content-between mt-5'>
        <div>
          <h4 class='mb-5'>Pelsall Lane Dental Practice</h4>
          <p class='m-0'><strong>Address:</strong></p>
          <p>33B Pelsall Lane, Rushall, Walsall, WS4 1NA</p>
          <p class='m-0'><strong>Contact:</strong></p>
          <p>01922 640554</p>
          <p><strong>Email:</strong> pelsalldental@live.co.uk</p>
          <p class='m-0'><strong>Opening Hours:</strong></p>
          <p>
Monday  9am–5:30pm<br>
Tuesday 9am–5:30pm<br>
Wednesday 9am–1pm<br>
Thursday  8am–4pm<br>
Friday  8am–4pm<br>
Saturday  Closed<br>
Sunday  Closed</p>
        </div>
        <div>
            <form action="https://formspree.io/xaypojja" method="POST">
                <div class="form-group">
                    <label for="inputAddress"></label>
                    <input type="email" class="form-control" id="inputAddress" placeholder="Email" name='email'>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4"></label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Name" name='name'>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4"></label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Phone Number" name='Phone Number'>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress2"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Your Message" name='Message'></textarea>
                </div>
                <!-- your other form fields go here -->
                <button type="submit" class="contact-btn">Send Enquiry</button>
            </form>
        </div>
    </div>
</div>
