<div class="container">
    <div class="text-center mt-4">
        <h1>Cosmetic Treatments</h1>
        <div class='subheading text-center'>
            <p class='text-center mt-3'>We offer a range of different treatments to help improve your smile.</p>
        </div>
    </div>
    <div class="treatment-container mt-5">
        <div class="mb-5">
              <span class='padding-yellow rounded'>Our Treatments</span>
            </div>
        <p class='m-0'><strong>Enlighten tooth whitening</strong></p>
        <p>
            We are an accredited Enlighten tooth whitening centre. Enlighten is the worlds best and only whitening brand to give you guaranteed long-lasting whitening results and LOW sensitivity.
        </p><br>
        <p class='m-0'><strong>Invisalign - Clear Braces</strong></p>
        <p>
            We offer Invisalign Go, a world -renowned clear brace system to straighten teeth.
        </p><br>
        <p class='m-0'><strong>Crowns</strong></p>
        <p>
            these can be used to protect and stabilise heavily filled teeth in order to restore aesthetics and function
        </p>
        <br>
        <p class='m-0'><strong>Vaneers</strong></p>
        <br>
        <div class='mt-5'>
            <%= link_to 'Contact us for more information >', contact_path %>
        </div>
    </div>
</div>
