<div class="covid-banner">
  <h1 class="covid-title">COVID</h1>
</div>
<div class="covid-p">
  <p class="covid-text">
    To our Patients and Friends of Pelsall Lane Dental Practice, <br style=“line-height:2;”>
    Our team have been working tirelessly to keep our practice clean and safe environment for you. <br> <br>
    As a Dental Practice, we work in an environment where the prevention of the spread of a whole range of infections is woven into everything we do.  In addition to our usual scrupulous cross infection control measures, we have been paying particularly close attention to all government guidance and updates related more specifically to Coronavirus. <br> <br>
    Given the unprecedented situation in the UK regarding the rapidly spreading COVID-19 virus, we feel we must use our own clinical judgement and act in the best interests of our patients and staff.  <br><br>
    We feel it is essential that we do our part to reduce the spread of this virus, and so, it is with very heavy hearts, that we have taken to decision to temporary suspend all routine examinations and treatment (As directed by the Government and Health and Safety Dept). <br> <br>
    We will of course keep you updated with the latest information on our website www.pelsalllanedentalpractice.co.uk <br> <br>
    Looking after the health of our patients is our absolute priority and so we will be operating an Emergency Telephone Consultation service for our patients who have urgent pain or swelling during this period .  If you urgently need assistance, please contact us on 01922 640554. <br> <br>
    As a team, we are doing everything we possibly can to remain fit, well and able to work so that we can continue our usual high standard of dental care for you when we return. <br> <br>
    Thank you for your support, and stay safe, <br>
    The Team at Pelsall Lane Dental Practice
  </p>
  <a href="https://8a01e2ad-02c0-4d12-ac76-1ebc425bbc1e.filesusr.com/ugd/7d7697_d3590cdb563a4a92ac07fc61fba94e54.pdf">Click here to see our tips on how to manage toothache if you are unable to see a dentist</a>
</div>
