<div class="container py-4">
    <div class="text-center mt-4">
        <h1>Anti-Wrinkle Treatments</h1>
        <div class='subheading text-center'>
            <p class='text-center mt-3'>Treat yourself to a consultation for anti-wrinkle treatment to reduce frown lines and crows feet.</p>
        </div>
    </div>
    <div class="treatment-container mt-5">
        <div class="mb-5 text-center">
              <span class='padding-yellow rounded'>Our Treatments</span>
            </div>
          <div class="bg-light rounded p-3 mb-4">
        <div class="d-lg-flex justify-content-between align-items-center">
        <p class='m-0 purple-text'><strong>Azzalure Botulinum Toxin Type A</strong></p>
          <%= image_tag "azzalure-purp.png", class: 'cosmetic-logo mr-2' %></div>
          <hr>
        <p>
In recent years there has been in increase in demand for anti wrinkle treatments. <br> <br>
These procedures are performed frequently and safely by medical professionals in order to help reduce the appearance of fine lines leading to a more youthful appearance. <br> <br>
Patients most commonly ask for forehead lines, crow’s feet and the line between eyebrows to be smoothed and Dr Aleeya Kotadia has been trained to prescribe and administer these treatments effectively. <br> <br>
Please feel free to contact us to arrange a consultation.        </p>
        </div>




        <div class='mt-5'>
            <%= link_to 'Contact us for more information >', contact_path, class: 'pl-3' %>
        </div>
    </div>
</div>
