<div class="container">
    <div class="text-center mt-4">
        <h1>Facial Treatments</h1>
        <div class='subheading text-center'>
            <p class='text-center mt-3'>Treat yourself to a consultation for anti-wrinkle treatment to reduce frown lines and crows feet.</p>
        </div>
    </div>
    <div class="treatment-container">
        <button class='padding-yellow mt-5 rounded'>Our Treatments</button>
        <p class='m-0'><strong>Azzalure Botulinum Toxin Type A</strong></p>
        <div class='mt-5'>
            <%= link_to 'Contact us for more information', contact_path %>
        </div>
    </div>
</div>
