<div class="container py-4">
    <div class="text-center mt-4">
        <h1>General Dentistry</h1>
        <div class='subheading text-center'>
            <p class='text-center mt-3'>We focus our treatments around preventative care, with a long term goal of reducing the need of fillings , extractions and root canals. We achieve this by emphasising a well-balanced diet along with good oral hygiene.</p>
        </div>
    </div>
    <div class="treatment-container mt-5">
        <div class="mb-5 text-center">
              <span class='padding-yellow rounded'>Restorative Care</span>
            </div>
            <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Fillings</strong></p>
        <hr>
        <p>
            To restore function and aesthetics of teeth that have worn or become decayed
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Crowns</strong></p>
        <hr>
        <p>
            These can be used to protect and stabilise heavily filled teeth in order to restore aesthetics and function
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Bridges</strong></p>
        <hr>
        <p>
            There are several different types of bridges that may be appropriate to provide a fixed option when restoring a gap
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Dentures</strong></p>
        <hr>
        <p>
            Used to replace multiple missing teeth
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Extractions</strong></p>
        <hr>
        <p>
            When a tooth is deemed to be unrestorable, the only option may be to remove it in order to prevent pain and infection
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Root canal treatment</strong></p>
        <hr>
        <p>
            If possible we will try to save a tooth by removing the infected nerve
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Hygiene treatments</strong></p>
        <hr>
        <p>
            Scale and polishes and deep cleaning
        </p></div>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Prevention and treatment of gum disease</strong></p>
      </div>
        <div class='mt-5'>
            <%= link_to 'Contact us for more information >', contact_path %>
        </div>
    </div>
</div>
