<div class="container">
    <div class="text-center mt-4">
        <h1>General Dentistry</h1>
        <div class='subheading text-center'>
            <p class='text-center mt-3'>We focus our treatments around preventative care, with a long term goal of reducing the need of fillings , extractions and root canals. We achieve this by emphasising a well-balanced diet along with good oral hygiene.</p>
        </div>
    </div>
    <div class="treatment-container">
        <button class='padding-yellow mt-5 rounded'>Restorative Care</button>
        <p class='m-0'><strong>Fillings</strong></p>
        <p>
            To restore function and aesthetics of teeth that have worn or become decayed
        </p><br>
        <p class='m-0'><strong>Crowns</strong></p>
        <p>
            These can be used to protect and stabilise heavily filled teeth in order to restore aesthetics and function
        </p><br>
        <p class='m-0'><strong>Bridges</strong></p>
        <p>
            There are several different types of bridges that may be appropriate to provide a fixed option when restoring a gap
        </p><br>
        <p class='m-0'><strong>Dentures</strong></p>
        <p>
            Used to replace multiple missing teeth
        </p><br>
        <p class='m-0'><strong>Extractions</strong></p>
        <p>
            When a tooth is deemed to be unrestorable, the only option may be to remove it in order to prevent pain and infection
        </p><br>
        <p class='m-0'><strong>Root canal treatment</strong></p>
        <p>
            If possible we will try to save a tooth by removing the infected nerve
        </p><br>
        <p class='m-0'><strong>Hygiene treatments</strong></p>
        <p>
            Scale and polishes and deep cleaning
        </p><br>
        <p class='m-0'><strong>Prevention and treatment of gum disease</strong></p>
        <div class='mt-5'>
            <%= link_to 'Contact us for more information', contact_path %>
        </div>
    </div>
</div>
