<div class="container">
    <div class="about-top text-center mt-4 mb-5 subheading">
        <h1>Membership</h1>
        <p>Select a plan to suit you</p>
    </div>
    <%= render "shared/membership" %>
    <div class='membership-description'>
        <h2>How Do Memberships Help You?</h2><br>
        <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Dental Health Examinations</strong></p>
        <hr>
            <p>- Clinical examination to catch developing problems early</p>
            <p>- Checking for signs of oral cancer for early detection</p>
            <p>- X-Rays where clinically necessary for an in-depth examination of your oral health</p>
            ​

      </div>
      <div class="bg-light rounded p-3 mb-4">
        <p class='m-0 purple-text'><strong>Hygiene Appointments</strong></p>
        <hr>

            <p>- Professional removal of harmful hard plaque</p>
            <p>- Advice and techniques to help you prevent tooth decay and gum disease</p>
            <p>- Fresher breath and a brighter smile for improved self-esteem</p>
            ​

      </div>
    <div class='my-5'>
            <%= link_to 'Contact us for more information >', contact_path %>
        </div>
    </div>
</div>
