<section class="team-page">
  <div class="team-main">

    <div class="team-title">
      <h1>Our Team</h1>
    </div>
    <div class="team-subtitle subheading">
      <h4>subtitle</h4>
    </div>
    <section class="staff-all">
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "placeholder.jpg", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Bill Murray</h3>
          <h4 class="staff-job">Actor</h4>
          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991.
  He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training.
  When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places.
  GDC NUMBER - 59345</p>
        </div>
      </div>
      <div class="staff-card">
        <div class="card-image">
          <%= image_tag "placeholder.jpg", class:"team-image"%>
        </div>
        <div class="staff-text">
          <h3 class="staff-name">Bill Murray</h3>
          <h4 class="staff-job">Actor</h4>
          <p class="staff-description">Principal Dentist. Dr Altaf Kotadia qualified from the University of Bristol in 1984 and has owned Pelsall Lane Dental Practice since 1991.
  He is committed to looking after his patients and regularly boosts his knowledge by attending postgraduate courses in both dentistry and mediation training.
  When not as work, you can find Dr Kotadia on the golf course where he is working towards lowering his handicap to single digits. He enjoys spending time with his family and travelling to new places.
  GDC NUMBER - 59345</p>
        </div>
      </div>

    </section>
  </div>
</section>
