.contact-btn {
border-radius: 4px;
padding: 12px 40px;
background: #B620E0;
color: white!important;
margin: 0 20px;
display: block;
padding: 0.5rem 1rem;
}

@media only screen and (max-width: 767px) {
  .contact-btn {
  border-radius: 0;
  padding: 0.5rem 0;
  background: none;
  color: #B620E0!important;
  margin: 0!important;

  }
}
